.home {
  position: relative;
  padding-left: 120px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  width: 100%;
}
.home p {
  font-size: 16px;
  width: 30%;
  color: #787878;
}

.home h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}

.home h1:hover {
  cursor: pointer;
}

.search-input {
  padding: 20px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  border-radius: 6px;
  line-height: 20px;
  border-color: #bdbdbd;
  background-color: #fefefe;
}

.search-input::placeholder {
  color: #bdbdbd;
}

.section-box {
  left: 90px;
  right: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1500px;
  justify-content: center;
}

.section-box .section-card {
  position: relative;
  margin-top: 40px;
  margin: 10px;
  padding-top: 65px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 10px;
  border-radius: 12px;
  width: 370px;
  background-color: #ffffff;
}

.section-card p {
  font-size: 16px;
  color: #787878;
}

.section-card h2 {
  font-size: 20px;
  color: #000000;
}

.section-card:hover {
  background-color: lightgray;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

.section-card label {
  flex-direction: column;
  width: 20%;
  position: relative;
  left: 90px;
}
